# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Newman API reports
/newman/

# Allure
/allure-results/
/allure-report/

# Newman
/newman/
